.signup-section{
    width: 60%;
    margin: 3rem auto;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 5px 60px 0px #4646466b;
}
.signup-header{
    font-weight: 500;
    border-bottom: 1px solid rgba(108, 106, 106, 0.64);
    width: 40%;
    margin:2rem auto;
    padding-bottom: .6rem;
}
.signup-forum{
    margin-top: 1.5rem;
}
.signup-forum input{
    display: block;
    width: 80%;
    height: 50px;
    margin: auto;
    padding: 0px 10px ;
    margin-bottom: 1.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 17px;
}
.signup-forum input:hover{
    border-bottom: 1px solid black;
}
 
#signup-btn{
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
}
#signup-btn:hover{
    background-color: #ffff;
    color: black;
    border: 1px solid black;
}
.already-have-account-text span{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.error{
    background-color: rgb(255, 209, 202);
    color: rgb(1, 1, 1);
    padding: 7px 20px;
    width: 50%;
    margin: 1rem auto;
}

@media screen and (max-width: 650px) {
    .signup-section{
        width: 80%;
    }
    .signup-header{
        width: 100%;
        font-size: 17px;
        font-weight: 600;
    }
    .signup-forum input{
        width: 100%;
        font-size: 14px;
        padding: 0;
    }
    #signup-btn{
        font-size: 16px;
    }
    .already-have-account-text span{
        font-size: 16px;
         
    }
    .error{
        width: 100%;
        font-size: 12px;
    }
}